html {
    height: 100%;
    min-height: 100%;
    background-color: $background-color;
}

body,
.application,
.application > div {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.application-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;
}

.content {
    flex: 1;
}

button .BarsLoader__loader {
    margin-bottom: -4px;
}

textarea {
    resize: vertical;
}

.filter {
    margin: 10px 0 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;

    .active {
        font-weight: 600;
    }
}
